# Ignore Composer Vendor files
vendor/

# Ignore Bootstrap files (Acquired via Composer)
bootstrap/

# Ignore Twig Cache 
cache/

# Ignore VS Code config files
.vscode/

# Ignore file containing Google API Key
maps-api.html.twig

