/* Import Open Sans font */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

body {
  min-height: 75rem;
  padding-top: 4.5rem;
  font-family: "Open Sans", Tahoma, Arial;
  height: 100%;
}

a {
  color: #0066cc;
}


h2 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #333;
}

h3 {
  font-size: 1.4rem;
  color: #333;
  font-weight: 600;
}

h4 {
  font-size: 1.2rem;
  color: #333;
  font-weight: 600;
}

.navbar-font {
  font-weight: 400 !important;
}

.modal-event-desc {
  resize: none;
  height: 8rem !important;
}

.inherit-height {
  height: inherit;
}

.invalid {
  background-color: #fdd; 
}