{% extends "layout.html.twig" %}

{% block content %}
<div class="container">
    <h2>iCalendar Generator</h2>

    <div class="row mt-4">
        <div class="col">
            <h3>List of Events</h3>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-sm btn-info" onclick="" title="Add event">+ Add Event</button>
            <button type="button" class="btn btn-sm btn-outline-primary no-hover" onclick="" title="Add events before generating"
                disabled>Generate .ics</button>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md">
            <table class="table table-striped data-table">
                <thead>
                    <th>Event Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Location</th>
                </thead>
                <tbody>
                    <tr>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    let download = (filename, text) => {
        var element = document.createElement('a');
        element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
        element.setAttribute('download', filename);

        element.style.display = 'none';
        document.body.appendChild(element);

        element.click();

        document.body.removeChild(element);
    }

    let downloadTest = () => {
        let testEvent = new ICalendarGenerator('Study for Exam', '03-13-2020', '10:00:00', '13:00:00', 'Hamilton Library');
        download('test.ics', testEvent.generateCal());
    }

    $(document).ready(function () {
        // Renders tables with class 'data-table' as a DataTable
        var tables = $('.data-table').DataTable({
            "dom": '<rt><"row"<"col"i><"col"p>>',
            "lengthMenu": [[-1], ["All"]]
        });
    });
</script>
{% endblock content%}