<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ pageTitle }}</title>

        <link rel="stylesheet" href="/client/style/style.css">

        <link rel="stylesheet" href="/client/bootstrap/css/bootstrap.min.css">

        <script src="/client/bootstrap/js/bootstrap.min.js"></script>
    </head>

    <body>
        {% block content %}{% endblock content %}
    </body>
</html>